@page
@model Link.Pages.Categories.Edit

@{
    ViewData["Title"] = "Edit";
}

<div class="min-h-screen bg-white dark:bg-gray-900 flex justify-center">
    <form method="post">
        <input hidden asp-for="Category.Id" type="number" />
        <div class="mb-6">
            <label asp-for="Category.Name" for="name" class="block mb-2 text-sm font-medium text-gray-300 dark:text-gray-300">Category Name</label>
            <input asp-for="Category.Name" type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Name" required="">
            <span class="text-red-300" asp-validation-for="Category.Name"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Category.DisplayOrder" for="displayOrder" class="block mb-2 text-sm font-medium text-gray-300 dark:text-gray-300">Display Order</label>
            <input asp-for="Category.DisplayOrder" type="number" id="displayOrder" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Display Order" required="">
            <span class="text-red-300" asp-validation-for="Category.DisplayOrder"></span>
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
